
@{
    ViewBag.Title = "MyPage";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<table width="100%" style="border: 1px solid red;">
    <tr>
        <th>Col 1</th>
        <th>Col 2</th>
        <th>Col 3</th>
    </tr>
    @for (int i = 1; i < 10; i++)
    {
        if (i < 4)
        {
            if (i == 1)
            {
                @:<tr>
            }
            <td>@i</td>
            if (i == 3)
            {
                @:</tr>
            }
        }
        else if (i < 7)
        {
            if (i == 4)
            {
                @:<tr>
            }
            <td>@i</td>
            if (i == 6)
            {
                @:</tr>
            }
        }
        else
        {
            if (i == 7)
            {
                @:<tr>
            }
            <td>@i</td>
            if (i == 9)
            {
                @:</tr>
            }
        }
    }

    @*<tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>*@
</table>